body {
	background: #455a64;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

h1 {
	font-size: 36px;
	font-weight: 800;
	margin: 10px 0;
	padding: 20px;
}

img {
	width: 44px;
}


input {
	font-size: 25px;
	margin: 10px auto;
	padding: 12px;
	width: 80%;
}

a {
	color: #60708b;
	text-decoration-color: #f2f4f4;
	text-decoration-line: underline;
}

.hover {
	text-decoration-color: #ffc107;
}

article	{
	background-color: #ffffff;
	border: 3px solid #607d8b;
	color: #455a64;
	height: 125px;
	margin: 20px 20px;
	padding: 10px;
	position: relative;
	text-align: left;
}

#page-wrapper {
	align-items: center;
	background-color: #455A64;
	color: #FFFFFF;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

#main{
	flex: 1;
	margin: 0 auto;
	text-align: center;
	width: 310px;
}

#main p{
	display: inline-block;
	font-size: 16px;
	padding: 10px;
}

#enter-button{
	background-color: #ffc107;
	border: none;
	color: #ffffff;
	display: block;
	font-size: 25px;
	font-weight: 800;
	height: auto;
	padding: 15px;
	width: 90%;
}

#enter-button:hover {
	background-color: #FFD773;
}

#side-bar{
	background-color: #cfd8dc;
	border: 1px solid #455a64;
	flex: 1;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

.read-button{
	background-color: #FFFFFF;
	border: none;
	bottom: 13px;
	color: #455A64;
	font-size: 14px;
	left: 10px;
	padding-left: 10px;
	position: absolute;
}

.delete-button{
	background-color: #FFFFFF;
	border: none;
	bottom: 13px;
	color: #455A64;
	font-size: 14px;
	padding-right: 10px;
	position: absolute;
	right: 10px;
}

.bm-title{
	border-bottom: 1px solid #cfd8dc;
	font-weight: 800;
	font-size: 24px;
	padding: 10px;
}

.bm-url {
	border-bottom: 1px solid #cfd8dc;
	padding: 10px;
}

.read {
	color: #F05A28;
	font-weight: 800;
}



/*******media queries*******************/

@media screen and (min-width: 650px){
	article {
		flex: 1;
	}

	body {
		background-color: none;
	}

	#page-wrapper {
		flex-flow: row;
		height: 700px;
	}

	#side-bar {
		align-items: flex-start;
		flex: flex;
		height: 700px;
		}
}
