body {
	background-color: #455a64
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	width: 100%;
}

h1 {
	font-size: 40px;
	font-weight: 800;
	margin-bottom: 20px;
	margin-top: 80px;
	padding: 20px;
}

img {
	width: 10%;
}

form{
	/*height: 30%;*/
}
input{
	display: block;
	font-size: 400%;
	height: 50px;
	margin: 50px auto;
	padding: 30px;
	width: 80%;

}

hr{
	color: 	#cfd8dc;
	width: 90%;
}

a{
	color: #60708b;
	text-decoration-color: #f2f4f4;
	text-decoration-line: underline;
}

a:hover{
	text-decoration-color: #ffc107;
}

article	{
	background-color: #ffffff;
	border: 3px solid #607d8b;
	color: #455a64;
	height: 100px;
	margin: 20px auto;
	padding: 10px;
	position: relative;
	text-align: left;
	width: 85%;
}

#page-wrapper{
	align-items: center;
	background-color: #455A64;
	border: 3px solid blue;
	color: #FFFFFF;
	height: 100vh;
	justify-content: center;
	margin: 0 auto;
	width: 100%;
}

#main{
	border: 3px solid orange;
	height: 50%;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

#main p{
	font-size: 300%;
}

#enter-button{
	background-color: #ffc107;
	border: none;
	color: #ffffff;
	display: block;
	font-size: 375%;
	font-weight: 800;
	height: auto;;
	/*margin: 0	auto;*/
	padding: 30px;
	width: 87%;*/
}

#side-bar{
	background-color: #cfd8dc;
	/*border: 1px solid #455a64;*/
	height: 50%;
	margin: 0 auto;
	margin-top: 10px;
	text-align: center;
	width: 100%;
	border: 3px solid yellow;
}

#bm-three, #bm-four{
	display: none;
}

.read-button{
	background-color: #FFFFFF;
	border: none;
	color: #455A64;
	font-size: 14px;
	position: absolute;
	left: 10px;
	padding-left: 10px;
}

.delete-button{
	background-color: #FFFFFF;
	border: none;
	color: #455A64;
	font-size: 14px;
	position: absolute;
	right: 10px;
	padding-right: 10px;
}

.bm-title{
	font-weight: 800;
	font-size: 24px;
}

.read {
	color: #F05A28;
	font-weight: 800;
}
/*******media queries*******************/
/*@media screen and (min-width: 700px){
	#bm-three, #bm-four{
		display: block;
	}
}*/
