body {
	background: #455a64;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

h1 {
	font-size: 36px;
	font-weight: 800;
	margin: 10px 0;
	padding: 20px;
}

img {
	width: 44px;
}


input {
	font-size: 25px;
	margin: 20px auto;
	padding: 15px;
	width: 80%;

}

a {
	color: #60708b;
	text-decoration-color: #f2f4f4;
	text-decoration-line: underline;
}

:hover {
	text-decoration-color: #ffc107;
}

article	{
	background-color: #ffffff;
	border: 3px solid #607d8b;
	color: #455a64;
	margin: 20px 20px;
	padding: 10px;
	text-align: left;
	position: relative;
	height: 125px;
	/*width: 85%;*/
}

#page-wrapper {
	background-color: #455A64;
	color: #FFFFFF;
	display: flex;
	margin: 0 auto;
	flex-direction: column;
	justify-content: center;
	align-items: center;



}

#main{
	margin: 0 auto;
	text-align: center;
	width: 310px;
	flex: 1;

}

#main p{
	font-size: 35px;
}

#enter-button{
	background-color: #ffc107;
	border: none;
	color: #ffffff;
	display: block;
	font-size: 35px;
	font-weight: 800;
	height: auto;
	padding: 15px;
	width: 83%;
}

#enter-button:hover {
	background-color: #FFD773;
}

#side-bar{
	background-color: #cfd8dc;
	/*border: 1px solid #455a64;*/
	margin: 0 auto;
	text-align: center;
	width: 310px;
	flex: 1;

}

.read-button{
	background-color: #FFFFFF;
	border: none;
	color: #455A64;
	font-size: 14px;
	position: absolute;
	left: 10px;
	bottom: 13px;
	padding-left: 10px;
}

.delete-button{
	background-color: #FFFFFF;
	border: none;
	color: #455A64;
	font-size: 14px;
	position: absolute;
	right: 10px;
	bottom: 13px;
	padding-right: 10px;
}

.bm-title{
	font-weight: 800;
	font-size: 24px;
	border-bottom: 1px solid #cfd8dc;
	padding: 10px;
}

.bm-url {
	border-bottom: 1px solid #cfd8dc;
	padding: 10px;
}

.read {
	color: #F05A28;
	font-weight: 800;
}



/*******media queries*******************/

@media screen and (min-width: 650px){
	#page-wrapper {
		flex-flow: row;
		height: 600px;
}
/*@media screen and (min-width: 649px){
	#page-wrapper{
		position: relative;
	}

	#main{
		left:5px;
		position: absolute;
		width: 310px;
		margin: auto auto;
	}

	aside{
	  position: absolute;
		right: 5px;
		width: 310px;
		margin: 0 auto;
	}

@media screen and (min-width: 700px){
		#main{
		width: 345px;
		margin: 0 auto;
	}

	aside{
		width: 345px;
		margin: 0 auto;
	}

}*/
	/*#bm-three, #bm-four{
		display: inline-block;
	}*/
/*}*/
